body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font: bolder;
    line-height: 1;
    background-image: linear-gradient(to right, #3b64c4, #1a117f);
}

header {
    text-align: center;
    background-image: linear-gradient(to right, #3b64c4, #1a117f);
    color: white;
    padding: 5rem;
    font-family: 'Londrina Sketch', cursive;
    
}

.fiveday {
    color: whitesmoke;
    margin: 2rem;
    text-align: center;
}

.city-search {
    border-radius: 5px;
    padding: 2rem;
    background-color: rgb(197, 200, 199);
}

.list-group {
    cursor: pointer;
}

.current-weather {
    color: black;
    background-color: rgb(197, 200, 199);
}

.future-forecast {
    color: black;
}

#future-weather-card {
    background-color: rgb(197, 200, 199);

}
